/*Configs and setups*/
:root {
  --gray050: #F9FAFB;  /* Gray/050 */
  --gray200: #EAECF0;  /* Gray/200 */
  --gray500: #667085;  /* Gray/500 */
  --gray900: #101828;  /* Gray/900 */
  --darkRed: #8E2424;  /* Dark red */
  --white100: #FFFFFF; /* White100 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

/*First section - NavBar*/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.menu a {
  color: var(--gray500);
  text-decoration: none;
  margin-right: 2rem;
}

.buttons a {
  padding: 0.8rem 1rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  background: none;
  color: var(--gray500);
  font-size: 0.9rem;
}

#signUp {
  background-color: var(--darkRed);
  color: var(--white100);
}

/*Second section - About-us*/
#cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px;
  gap: 24px;
}

#cabecalho h3 {
  color: var(--darkRed);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

#cabecalho h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: var(--gray900);
}

#cabecalho p {
  width: 791px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--gray500);
}

/*Third section - Metrics and Numbers*/
.metrics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0 auto;
}

.number {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.number h2 {
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: var(--darkRed);
}

.number h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray900);
}

.number p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray500);
}

/*Fourth section - Vacant-job*/
#vacant-job {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px;
  background: var(--white100);
  align-self: stretch;
  }

.talent h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--darkRed);
  width: 125px;
  height: 28px;
  margin: 0 auto;
  align-items: center;
  background: rgba(142, 36, 36, 0.05);
  border-radius: 16px;
  padding-top: 0.25rem;
}

.talent h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--gray900);
  margin: 20px auto;
}

.talent p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--gray500);
}

.talent img {
  left: 112px;
  top: 298px;
  margin: 64px auto 0;
}

.vacancy h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--gray900);
  margin-top: 64px;
  margin-bottom: 32px;
}

.job-offer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--gray200);
  border-radius: 16px;
  gap: 24px;
  margin-top: 0.6rem;
}

.job-offer h3:first-child {
  width: 720px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray900);
  margin: 24px;
}

.job-item span {
  font-weight: 500;
  font-size: 16px;
  margin-right: 24px;
  margin-top: 24px;
  color: var(--gray500);
  display: inline-block;
}

/*Fifth section - Testimonial*/
.testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 64px 48px;
  background: rgba(196, 25, 25, 0.03);
  border-radius: 16px;
}

.testimony h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--darkRed);
  margin: 8px 0;
}

.testimony h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--gray900);
  margin: 8px 64px 32px;
}

.testimony p{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--gray900);
  margin: 16px 0 4px;
}

.testimony span{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--gray500);
  margin-bottom: 64px;
}

/*Sixth section - Form*/
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px;
  gap: 32px;
  background: var(--gray050);
}